<nav class=" navbar-expand bg-dark navbar">

  <button  class="btn btn-outline-light" (click)="vec()" id="toggle-sidebar">...</button>
  <div id="sidebar" *ngIf="sidebar">

    <button type="submit" class="btn btn-outline-light"><a routerLink="home">Home</a></button>
    <button type="submit" class="btn btn-outline-light"><a routerLink="about">About</a></button>
    <button type="submit" class="btn btn-outline-light"><a routerLink="contact">Contact</a></button>

  </div>


  <div class="hledac">
    <input placeholder="Text" [(ngModel)]="search" type="text"
           class="searchbar">
    <div>
      <a  *ngFor="let link of links" routerLink="{{link}}">{{link}}</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
